
/* Storage button */

.btn storage-btn {
  width: 500px;
}
/* Floating circular button */
.floating-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 50%;
}

.floating-btn.btn-right {
  bottom: 20px;
  right: 20px;
}

.floating-btn.btn-left {
  bottom: 20px;
  left: 20px;
}